<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta una Mascota - Inicio</title>
    <!-- Enlace a la hoja general que uso de CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <h1>🐾 Adopta una Mascota 🐾</h1>
        <p> Bienvenido! Estás en el lugar correcto para encontrar a tu próximo mejor amigo</p>
    </header>

    <nav>
        <!-- Menú principal con los enlaces a otras subpáginas-->
        <ul>
            <li><a href="{{ url_for('main.agregar_aviso_form') }}">Agregar aviso de adopción</a></li>
            <li><a href="{{ url_for('main.listado_adopciones') }}">Ver listado de adopciones</a></li>
            <li><a href="{{ url_for('main.estadisticas') }}">Estadísticas</a></li>
        </ul>
    </nav>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h2>Últimos 5 avisos de adopción</h2>
        
        <!-- Tabla de los avisos recientes -->
        <table>
            <!-- Cabecera de la tabla-->
            <thead>
                <tr>
                    <th>Fecha publicación</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Cantidad, Tipo y Edad</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla-->
            <tbody>
                 <!-- Iniciamos un bucle que recorrerá cada aviso en la lista avisos que pasamos desde Flask -->
                {% for aviso in avisos %}
                <tr>
                    <!-- Accedmos a los atributos de cada objeto aviso -->
                    <td>{{ aviso.fecha_ingreso.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ aviso.comuna.nombre }}</td>
                    <td>{{ aviso.sector }}</td>
                    <td>
                        {{ aviso.cantidad }} 
                        {{ aviso.tipo }}
                        , {{ aviso.edad }} 
                        <!-- Usamos un if para mostrar "meses" o "años" según el valor de la BD -->
                        {% if aviso.unidad_medida == 'm' %}
                            meses
                        {% else %}
                            años
                        {% endif %}
                    </td>
                    <td>
                        {% if aviso.fotos %}
                            <!-- Mostramos la primera foto de la lista -->
                            <img src="{{ url_for('static', filename=aviso.fotos[0].ruta_archivo) }}" alt="Foto de {{ aviso.tipo }}">
                        {% else %}
                            <span>Sin foto</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </main>

</body>
</html>